
.contenedorTitulo{
    @include flexbox_style(center,center,wrap,column);
    text-align: center;
    .tituloFormulario{
        @include flexbox_style(center,center,wrap,column)
    }
}

.contenedorFormulario{
    @include flexbox_style(center,center,wrap,row);
    .formularioCompra{
        @include flexbox_style(center,space-evenly,wrap,column);
        align-items: flex-end;
        input{
            margin: 5px 0;
            padding: 5px;
        }
    }
}
