.contenedorDetalles{
    @include flexbox_style(center, center, wrap,row);
    .itemDetalle{
        @include flexbox_style(center, center, wrap,row);
        .contenedorDivision1{
            @include flexbox_style(center, center, wrap,row);
            .contenedorTitulo{
                @include flexbox_style(center, center, wrap,row);
            }
            .contenedorSubtitulo{
                @include flexbox_style(center, center, wrap,row);
            }
            .contenedorImagen{
                @include flexbox_style(center, center, wrap,row);
                .imgPicada{
                    width: 100%;
                }
            }
        }
        .contenedorDivision2{
            @include flexbox_style(space-around, center, wrap,column);
            border-left: 1px solid #000;
            align-items: center;
        }
    }
}