@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@300&display=swap');
/* font-family: 'Dongle', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
/* font-family: 'Ubuntu', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');
/* font-family: 'Raleway', sans-serif; */
@import "~bootstrap/scss/bootstrap";



body, header{
    background-image: linear-gradient(to right, #f78ca0 0%, #f9748f 19%, #fd868c 60%, #fe9a8b 100%);
}


/* VARIABLES */
$fuentebody: 'Raleway', sans-serif;
$fotoAltura: 200%;
$iconos: 15vh;
$bordes-redondeados: 20px;
$iconos-redes: 5vh;
$sautarcion:saturate(1.8);
$menuHamburguesa: 5vh;


*{
    padding: 0px;
    margin: 0px;
    font-family: $fuentebody;
}

/* MAPAS */
$tamañoTexto:(
    tamañoH1: 3rem,
    tamañoH2: 2rem,
    tamañoH3: 1.5rem,
    tamañoP:  1rem,
    tamañoNav: 1.5rem,
    tamañoLItablas: 0.75rem,
);


$coloresMaps:(
    fondo-parrafos: #828282,
    color-texto-parrafo: #fff,
    borde-parrafo: #828282,
    sombras: #7d7d7d,
);

@mixin fondo-botones($borderRadius) {
    border-radius: $borderRadius;
    background-color:#fff;
    border: 1px #fff solid;
    box-shadow: #C6C6C6 1px 1px 1px 1px;
}


/* MIXINS */
@mixin articulosTablas ($color, $background){
    text-align: center;
    color: $color;
    background-color: $background;
    border: 1px #000 solid;
    border-radius: 20px;
    padding: 2px;
    margin-bottom: 5%;
}

@mixin flexbox_style ($justify, $align, $wrap, $direction) {
    display: flex;
    justify-content: $justify;
    align-content: $align;
    flex-wrap: $wrap;
    flex-direction: $direction;
}


@mixin imgResponsive {
    max-width: 100%;
    height: auto;
}

/*  */

%imgResponsive {
    max-width: 100%;
    height: auto;
}

%parrafos{
    border: 1px solid map-get($coloresMaps,borde-parrafo);
    border-radius: 15px;
    text-align: center;
    color: #000;
}





